.rightImgMeContainer{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
}
.rightImgMeContainer img {
    border-radius: 10px;
    width: 360px;
    height: 360px;
    align-self: center;
}

.container .expertise {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .rightImgMeContainer{
        display: none;
    }
}