.rightImgMeContainer{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
}
.rightImgMeContainer img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
@media screen and (max-width: 768px){
    .rightImgMeContainer{
        display: none;
    }
}